* {
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "PingFang SC";
  position: relative;
  background-color: #ffffff;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: normal;
}
img {
  border: 0;
  vertical-align: top;
}
ul,
li,
ol {
  list-style: none;
}
input {
  border: 0;
  outline: none;
  vertical-align: middle;
}
s,
i,
em {
  font-style: normal;
  /*去掉倾斜*/
  text-decoration: none;
  /*去掉删除线*/
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /* IE/ 7 / 6 */
}
a {
  color: #333333;
  text-decoration: none;
  vertical-align: top;
}
/*公共类*/
.fl {
  float: left;
}
.fr {
  float: right;
}
select,
option {
  border: 0;
  outline: none;
}
textarea {
  border: 0;
  outline: none;
  resize: none;
}
input::-webkit-input-placeholder {
  color: #b0b0b0;
}
textarea::-webkit-input-placeholder {
  color: #b0b0b0;
}
.one-row {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.more-row {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txleft {
  text-align: left;
}
.txcenter {
  text-align: center;
}
.txright {
  text-align: right;
}
.swiper-container {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.swiper-slide {
  transform: translate3d(0, 0, 0);
}
@supports (bottom: env(safe-area-inset-bottom)) {
  body,
  .footer {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.headerinfo {
  width: 100%;
  height: 1.33333333rem;
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 0 0.13333333rem 0 #f2f2f2;
}
.head-ebox {
  width: 100%;
  height: 1.33333333rem;
}
.headerinfo .logo {
  width: 100%;
  margin-left: 0.4rem;
  margin-top: 0.08rem;
}
.headerinfo .logo img {
  width: 30%;
  margin: 0 auto;
}
.headerinfo .menu {
  position: absolute;
  right: 0.4rem;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url(../images/menubg.png) no-repeat;
  background-size: 100%;
}
.bgDiv {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  display: none;
  z-index: 99;
  bottom: 0;
}
.rightNav {
  width: 40%;
  max-width: 6.13333333rem;
  height: 100%;
  background-color: #fff;
  position: fixed;
  right: 0;
  z-index: 999;
  top: 0;
  right: -50%;
  transition: right 0.1s;
}
.rightNav a {
  display: block;
  height: 0.76rem;
  border-bottom: 0.02666667rem solid #f8f8f8;
  line-height: 0.76rem;
  text-align: center;
  font-size: 0.34666667rem;
  color: #333333;
}
.rightNav a.active {
  background-color: #ff6637;
  color: #ffffff;
}
.head-ebox {
  width: 100%;
  height: 1.33333333rem;
}
.empty {
  width: 100%;
  height: 1.06666667rem;
}
.footer {
  background-color: #160e0c;
}
.footer-head {
  padding: 0.66666667rem 0.4rem 0.66666667rem;
}
.footer-head h1 {
  font-size: 0.4rem;
  color: #b2b2b2;
  line-height: 0.66666667rem;
}
.footer-head .contact-us {
  margin-top: 0.4rem;
}
.footer-head .contact-us .way-col-3 {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.29333333rem;
  color: #b2b2b2;
  margin-top: 0.4rem;
}
.footer-head .contact-us .way-col-3 .way-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.64rem;
  height: 0.64rem;
  border: 1px solid #b3b3b3;
  margin-right: 0.2rem;
}
.footer-head .contact-us .way-col-3 .way-ico img {
  width: 0.33333333rem;
}
.footer .footer-foot {
  border-top: 1px solid #302c29;
  text-align: center;
  padding: 0.4rem 0;
  font-size: 0.21333333rem;
  color: #8c8c8c;
  line-height: 0.32rem;
}
.footer-foot a {
  font-size: 0.21333333rem;
  color: #8c8c8c;
  margin: 0 0.2rem;
  line-height: 0.32rem;
}
.footersup {
  padding: 0.13333333rem 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.16rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.53333333rem;
}
.footersup span {
  margin: 0 0.13333333rem;
}
.footersup a {
  color: #ffffff;
  font-size: 0.16rem;
}
